.git
.github
.env
.env.*
!.env.example
node_modules
vendor
public/hot
public/build
storage/app/private/*
!storage/app/private/.gitignore
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
